<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="drugsrore" connectionString="Data Source=PC-201609241127;Initial Catalog=drugsrore;User ID=sa;Password=Wanggang199069" />
        <add name="drugsroreContext" connectionString="Data Source=127.0.0.1;Initial Catalog=drugsrore;Persist Security Info=True;User ID=sa;Password=meng19950628;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>